extends layout

block style-body
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
  style.
    #outer-form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #inner-form{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        min-width: 300px;
    }

block content
  div(class="container-fluid")
    h1(class="title")="Users"
    div(class="row")
        div(class="col-md-12")
            table(class="table table-responsive")
                thead
                    tr 
                        th Username
                        th Display Name
                        th Type
                        th Action
                tbody(id="users")
                tfooter
                    tr
                        td(colspan="3")
                            button(class="btn btn-primary btn-raised", id="add-user-btn") Add User
    div(id="add-user-panel", class="modal fade", tabindex="-1", role="dialog")
        div(class="modal-dialog" role="document")
            div(class="modal-content")
                div(class="modal-body")
                    div(class="container-fluid")
                        form(class="form", id="add-user-form")
                            div(class="form-group")
                                input(class="form-control", name="username", placeholder="Username", type="text", required="true")
                            div(class="form-group")
                                input(class="form-control", name="password", placeholder="Password", type="password", required="true")
                            div(class="form-group")
                                input(class="form-control", name="displayName", placeholder="Display Name", type="text", required="true")
                            div(class="form-group")
                                input(class="btn btn-primary", type="submit", value="Submit")



    

block script-body
  script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
  script(src="/javascripts/admin.js")
  
    
