extends layout

block style-body
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
  style.
    #outer-form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #inner-form{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        min-width: 300px;
    }

block content
  div(class="container")
    div(id="outer-form")
        div(id="inner-form", class="well col-xs-10 col-sm-3")
            h1 Login
            h4 &nbsp;  
            form(class="form", method="post")
                div(class="form-group")
                    label(for="username-field") Username
                    input(class="form-control", id="username-field", name="username", value="compi")
                div(class="form-group")
                    label(for="password-field") Password
                    input(class="form-control", id="password-field", name="password", type="password", value="compi")
                div(class="form-group")
                    button(class="btn btn-sm col-sm-12") Login
    

block script-body
  script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
  
  
    
