extends layout

block style-body
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")

block content
  div(class="container-fluid")
    div(class="col-lg-2 col-sm-12")
      div(class="sidebar")
        div(style="text-align:center;")
          h3(class="title")= "Click2Call"
          img(id="profile-picture", src="#{profilePicture}", alt="profile-picture", class="img-responsive center")
            
          p Welcome 
            strong #{displayName}
        div
          table(class="table table-responsive table-striped")
            thead
              tr
                td 
                  button(class="btn btn-primary", id="add-friend-btn") Add
            tbody(id="users-list")
        div
          table(class="table table-responsive table-striped")
            tbody(id="subscribe-list")
    div(class="col-lg-10 col-sm-12", id="main", style="display:none; text-align:center;")
      img(src="/images/profilepicture/default_profile_picture.png",alt="profile-picture", id="remote-profile-picture", class="img-responsive center", style="max-width:300px; width:100%")
      h2(class="title")
      div(class="row")
        button(class="btn btn-lg btn-raised btn-primary col-md-6 col-sm-12", id="call-btn") Video Call
        button(class="btn btn-lg btn-raised btn-primary col-md-6 col-sm-12", id="call-btn-audio") Audio Call


  
  
  
  a(class="btn btn-warning", style="position:absolute; top:0px; right:0px; margin:4px;", href="/logout")
    span(class="glyphicon glyphicon-log-out")
    =" Logout"

  div(id="calling-modal", class="modal fade", tabindex="-1", role="dialog")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          h2 Calling
        div(class="modal-body container-fluid")
          div(class="row")
            h3(id="calling-remote-name")
          div(class="row")
            button(id="accept-call", class="col-md-6 btn btn-primary btn-raised")= "Accept"
            button(id="reject-call", class="col-md-6 btn btn-warning btn-raised")= "Reject"
  div(id="incall-modal", class="modal fade", tabindex="-1", role="dialog")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          h2 Speaking
        div(class="modal-body container-fluid")
          div(class="row")
            h3(id="incall-remote-name")
          div(class="row")
            div(class="col-lg-3 col-sm-12")
              div(class="embed-responsive embed-responsive-16by9")
                video(id="localVideo", height="100%", width="100%", autoplay="true", muted)
                audio(id="localAudio", height="100%", width="100%", autoplay="true", muted, style="display:none;")
            div(class="col-lg-9 col-sm-12")
              div(class="embed-responsive embed-responsive-16by9 red")
                video(id="remoteVideo", height="100%", width="100%", autoplay="true")
                audio(id="remoteAudio", width="100%", autoplay="true", style="display:none;")
          div(class="row")
            button(id="end-call", class="col-md-6 btn btn-warning btn-raised")= "End"
  div(id="subscribe-modal", class="modal fade", tabindex="-1", role="dialog")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          h2 Friend Request
        div(class="modal-body container-fluid")
          div(class="row")
            div(class="col-md-12")
              form(class="form", id="modal-subscribe-form")
                div(class="form-group")
                  label(class="label")
                  input(class="form-control", type="text", placeholder="friend's username'", id="subscribe-to", required)
                div(class="form-group") 
                  input(type="submit", class="btn btn-primary", value="Send Request")
  div(id="profile-picture-modal", class="modal fade", tabindex="-1", role="dialog")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          h2 Profile Picture
        div(class="modal-body container-fluid")
          div(class="row")
            div(class="col-md-12")
              img(id="profile-picture", src="#{profilePicture}",alt="profile-picture")
              form(class="form", id="modal-profile-picture-form", method="post", enctype="multipart/form-data", action="/profilepicture/upload")
                div(class="form-group")
                  label(class="label")
                  input(class="form-control", type="file", placeholder="New Profile Picture", name="profile-picture", id="profile-picture-input", required)
                div(class="form-group") 
                  input(type="submit", class="btn btn-primary", value="Upload")



block script-body
  script.
    window.username = '#{username}';
    window.sessionId = '#{sessionId}';
    window.target = '#{target}';
  script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
  script(src="/javascripts/socket.io.min.js")
  script(src="/javascripts/adapter.js")
  script(src="/javascripts/main.js")
  
  
    
