doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    block style-body
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block script-body
