extends layout

block style-body
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")

block content
  div(class="container-fluid")
    div(class="row")
      h1(class="title")= title
      p Welcome to #{title}
    div(class="row")
      div(class="col-lg-6 col-sm-12")
        div(class="embed-responsive embed-responsive-16by9")
          video(id="localVideo", height="100%", width="100%", autoplay="true")

      div(class="col-lg-6 col-sm-12")
        div(class="embed-responsive embed-responsive-16by9")
          video(id="remoteVideo", height="100%", width="100%", autoplay="true")
    div(class="row")
        button(id="startButton") start
        button(id="callButton") call
        button(id="hangupButton") hangup
    div(class="row")
      pre(id="debug-section")



block script-body
    script.
        window.username = '#{username}';
        window.room = '#{room}';
    
    script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script(src="/javascripts/socket.io.min.js")
    script(src="/javascripts/localcall.js")
  
  
  
  
    
