doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    //- link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')
    //- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    //- link(rel='stylesheet', href='https://unpkg.com/vue-material@0.7.4/dist/vue-material.css')
    //- link(rel='stylesheet', href='/stylesheets/sticky-footer.css')
    link(rel='stylesheet', href='/stylesheets/mobile.css')

  body
    div(id="app", class="wrapper")
        remotevideo(ref="remotevideo", class="remoteVideo")
        localvideo(ref="localvideo", class="localVideo")
        
    div(class="footer", id="footer", hidden="hidden")
        div(class="container-fluid")
            p(id="console-repl")="init"

    script(src="https://unpkg.com/vue")
    script(src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4")
    //- script(src="https://unpkg.com/vue-material@0.7.4")
    script(src="/javascripts/adapter.js")
    script(src="/javascripts/mobile.vue.js")