extends layout

block style-body
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")

block content
  div(class="container-fluid")
    div(class="row")
      h1(class="title")= title
      p Welcome to #{title}
    div(class="row")
      div(class="col-lg-3 col-sm-12")
        div(class="embed-responsive embed-responsive-16by9")
          video(id="localVideo", autoplay, height="100%", width="100%")

      div(class="col-lg-9 col-sm-12")
        div(class="embed-responsive embed-responsive-16by9")
          video(id="remoteVideo", autoplay, height="100%", width="100%")



block script-body
  script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
  script(src="./javascripts/socket.io.min.js")
  script(src="./javascripts/app.js")
  
  
  
  
    
