body {
    margin: 0px;
}

wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.wrapper video.remoteVideo {
    /*object-fit: contain;*/
    /*       object-fit: fill; */
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background: white;
}

.wrapper video.localVideo {
    /*object-fit: contain;*/
    /*       object-fit: fill; */
    position: fixed;
    object-fit: cover;
    width: 20%;
    background: white;
}

video::-webkit-media-controls {
    display: none !important;
}