body {
    margin-top: 50px;
    margin-bottom: 15px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#outVideo {
    background-color: red;
}

video {
    width: 230px;
    height: 300px;
    object-fit: cover;
}

.footer-item {
    display: inline-flex;
    bottom: 0px;
    margin: 2px;
}

.footer-item-bar {
    text-align: right;
}


/*
 * Sidebar
 */


/* Hide for mobile, show later */

.sidebar {}

@media (min-width: @screen-sm-min) {
    .sidebar {
        position: fixed;
        width: inherit;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        border-right: 1px solid #eee;
    }
}

.sidebar>tbody {
    width: 100%;
}

tbody#users-list>tr.online {
    color: black;
    cursor: pointer;
}

tbody#users-list>tr.offline {
    color: grey;
    cursor: not-allowed;
}

.center {
    margin-left: auto;
    margin-right: auto;
}